@import "../config/vars";

.nav {
  box-shadow: 0rem .5rem 1.32rem -.3rem rgba($cAccent, .93);
  padding: 2rem 1.8rem;
  background-color: $bgcNavbar;
  display: flex;
  justify-content: space-between;
  align-items: center;
}